<configuration>

    <!-- Disable external libraries' logging -->
    <logger name="io.ktor" level="ERROR"/>
    <logger name="org.jetbrains" level="ERROR"/>
    <logger name="com.zaxxer.hikari" level="ERROR"/>
    <!-- Add more loggers as needed -->

    <!-- Set the root logger level to INFO or your desired level -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>